<% include header %>
<div class="container">
    <ul class="row" id="allBlog">
            <% posts.forEach(function(res){ %>
            <li class="grid-example col s12 ">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <a href="/posts/<%= res['id'] %>" class="dis-bolck">
                            <span class="card-title"><%= res['title'] %></span>
                            <p><%= res['content'] %></p>
                        </a>
                    </div>
                    <div class="card-action">
                        <a href="javascript:;">作者: <%= res['name'] %></a>
                        <a href="javascript:;">评论数：<%= res['comments'] %></a>
                        <span class="span-defalut">浏览数：<%= res['pv'] %></span>
                        <span  class="span-defalut right">发表时间：<%= res['moment'] %></span>
                    </div>
                </div>
            </li>
            <% }) %>
        </ul>
    <div class="hide valign-wrapper" id="loading" style="height: 300px;justify-content: center;">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <ul class="pagination pages" id="pages">
            <li class="disabled" id="prevPage"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            <li class="active page-item"><a href="#!">1</a></li>
            <% if(postsPageLength>0){%>
            <% for(let i=0; i<postsPageLength-1; i++) {%>
            <li class="waves-effect page-item"><a href="#!"><%= i+2 %></a></li>
            <% }%>
            <% }%>
            <li class="waves-effect" id="nextPage"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        </ul>
    </div>
</div>
<script src="/js/findpage.js"></script>
<% include footer %>